<div class="container py-4">
  <h1><strong>this is life cycle hooks: <i>GO TO CONSOLE TO SEE how life cycle works</i> </strong></h1>
  <input type="text" #input class="form-control">
  <button class="btn btn-primary my-4" (click)="onSubmit(input)">Submit</button>
  <app-demo *ngIf="detroy" [value]="inputText">

    <h4>this is projected content: {{inputText}}</h4>

  </app-demo>

  <br>
  <br>
  <h1><i>click detroy to destroy DEMO component </i></h1>

  <button class="btn btn-danger" (click)="DestroyComponenet()">Destroy</button>
</div>